<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Utilites.ExtentReport"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
     <!--<class name="day21.HandlingPaginationWebtable"/>-->
    <!-- <class name="day21.BrokenLinks"/>-->
   <class name="day21.UploadImage"/>
  <!-- <class name="day21.workbook"/>-->

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
